
*.txt
*.json
*.jsonl
auiqm/amazon-scraper-master/Input/search_url.txt
auiqm/amazon-scraper-master/Input/search_output.jsonl
auiqm/amazon-scraper-master/Input/sample.json
auiqm/amazon-scraper-master/Input/input.txt
