@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.header {
    height: 100px;
    width: 100%;
    background-color: #febe8c;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.website-name {
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.search-bar {
    width: 100%;
}
.cart {
    margin-left: 200px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cart:hover {
    transform: translateY(-4px);
}

.order-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-requests {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.order-requests:hover {
    transform: translateY(-4px);
}
